<!DOCTYPE html>
<html lang="ko" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<th:block th:replace="include/import :: importMeta"></th:block>
    <title layout:title-pattern="$LAYOUT_TITLE : $CONTENT_TITLE">Title</title>
    <link href="/css/jquery-ui-1.13.0.css" rel="stylesheet">
    <th:block th:replace="include/import :: importCss"></th:block>
    <th:block th:replace="include/import :: importScript"></th:block>
	<script src="/js/jquery-ui-1.13.0.min.js"></script>
</head>

<body>
<div id="wrap">
	<header th:replace="include/header :: headerFragment"></header>
	<div layout:fragment="container" id="container"></div><!-- //container -->
	<nav th:replace="include/footer :: footerFragment"></nav>
</div>
</body>
</html>