@charset "utf-8";

/****** layout ******/
header {display: flex; align-items: center; justify-content: right; height: 7vh; padding: 0 20px; border-bottom: 1px solid #26262e;}
header .logo {position: absolute; left: 20px; font-size: 1.2rem; font-weight: bold;}
header .logo span {display: block; font-size: 0.9rem;}
header .title {font-size:1.5rem; font-weight: bold;}

nav {margin-right: 30px;}
nav #gnb {display: flex;}
nav #gnb li + li {margin-left: 10px;}

#container {height: 90vh;}
#container .title {border-top: 1px solid #484848; padding: 10px 20px; border-bottom: 1px solid #333335; background: rgba(50,50,50,0.1); font-size: 1.1rem;}
#container .content {position: relative; padding: 20px;}

footer {display: flex; align-items: center; justify-content:center; height: 3vh; padding: 0 20px; background: #2a2b2d; font-size: 0.8rem;}


/****** common ******/
.btn_set {clear: both;}
.btn_set > button ~ button,
.btn_set > button ~ form {margin-left: 3px;}
.btn {display: inline-flex!important; justify-content: center; align-items: center; height: 40px; padding: 0 20px; border-radius: 6px; font-size: 1rem; vertical-align: middle; transition: 0.2s ease;}
.btn.sm {height: 26px; padding: 0 10px; font-size: 0.85rem;}
.btn:hover {box-shadow: inset 0em 0.7em 0px rgba(255, 255, 255, 0.1);}
.btn.colorBl {background: #455DDC; color: #fff!important;}
.btn.colorRd {background: #DC4545; color: #fff!important;}
.btn.colorGy {background: #4a4b55; color: #fff!important;}
.btn.colorBlLine {background: #182154; border: 2px solid #455DDC; color: #fff;}
.btn.colorGyLine {background: transparent; border: 2px solid #4a4b55; color: #c1c3cb;}
.btn.colorRdLine {background: #401010; border: 2px solid #C81818; color: #fff;}
.btn_set form {display: inline-flex; vertical-align: middle;}
table .btn {height: 32px; padding: 0 10px;}
table .btn.stat {width: 60px;}
table .btn:not(.stat) {width: 70px;}




/*************************************  login/signup *************************************/
#container_user {position: absolute; width: 100%; background: url(../img/bg_login.png) no-repeat; text-align: center;}
#container_user.login {position: absolute; top: 50%; width: 100%; transform: translateY(-51%); text-align: center;}
#container_user.signup {position: absolute; top: 50%; width: 100%; transform: translateY(-51%); text-align: center;}
#container_user .lg_tit {font-size: 2.2rem; color: #fff; font-weight: 600;}
#container_user .lg_titEn {margin-top: 5px; font-size: 1rem; color: #7B818F;}
#container_user .lg_form {width: 480px; padding: 40px 40px 40px; margin: 30px auto 0; border-radius: 10px; background: #131519;}
#container_user .lg_form h3 {margin-bottom: 40px; font-size: 2rem; font-weight: 600;}
#container_user .lg_form .item {display: flex; flex-direction: column; margin-top: 10px; text-align:left;}
#container_user .lg_form input {height: 52px; order: 2; margin-top: 8px; padding: 0 20px; background: transparent; font-size: 1.14rem; transition: 0.5s;}
#container_user .lg_form .btn_set {margin-top: 40px;}
#container_user .lg_form .btn_set .btn {width: 100%; height: 52px; font-size: 1.14rem;}
#container_user .lg_form .btn_set .btn_signUp {width: 80%;}
#container_user .lg_form .btn_set .btn_cancel {width: 17%;}
#container_user.signUp .lg_form {margin-top: 60px;}
#container_user.signUp .lg_form .btn_set {display: flex; justify-content: space-between;}
#container_user .btn_signup {position: relative; top: 15px; padding: 0 1px 2px; border-bottom: 1px solid #7b8093; color: #7b8093;}
#container_user .lg_form .guide.id {display:none;}
#container_user .lg_form .guide.id.active {display:block;}


/*************************************  error *************************************/
.wrap_error {position: absolute; width: 100%; height: 100%; background: url(../img/bg_error.png) no-repeat;}
.wrap_error .error {position: absolute; top: 50%; width: 100%; transform: translateY(-51%); text-align: center;}
.wrap_error .error .er_tit {padding-top: 220px; background: url(../img/img_error.svg) no-repeat center top; font-weight: 600; font-size: 2.8rem;}
.wrap_error .error .er_con {margin-top: 40px; color: #AEB7CF; font-size: 1.28rem; line-height: 1.6;}
.wrap_error .error .btn_set {margin-top: 40px;}
.wrap_error .error .btn_set .btn {height: 68px; padding: 0 55px; border-radius: 16px; font-size: 1.28rem; font-weight: 600;}
.wrap_error .error .btn_set .btn + .btn {margin-left: 17px;}